<div>
    <h2>Here's your personalized madlib!</h2>
    <p>There once was a {{ color }} {{ noun }} sitting in the Devmountain lab.
        When {{ person }} went to pick it up, it burst into flames in a totally
        {{ adjective }} way.
    </p>
</div>

<!-- There once was a {{ color }} {{ noun }} sitting in the Devmountain Lab.
When {{ person }} went to pick it up, it burst into flames in a totally
{{ adjective }} way. -->